<img ng-src="{{event.imageUrl}}" alt="{{event.name}}"/>
<button class="btn" ng-click="reload()">Reload button</button>
<div class="row">
	<div class="col-xs-12">
		<h2><a href="#/eventDetails/{{event.name}}">{{event.name | uppercase}}</a> - {{event.date | date:'mediumDate'}}</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
		<div><strong>Date: </strong>{{ event.date | date:'mediumDate'}}</div>
		<div><strong>Time: </strong>{{ event.time}}</div>
		<div><strong>Price: </strong>{{ event.price | currency}}</div>
	</div>
	<div class="col-xs-4">
		<address>
			<strong>Address:</strong><br/>
			{{event.location.address}}<br/>
			{{event.location.city}},{{event.location.province}}
		</address>							
	</div>
</div>

<hr />

<h3>Sessions</h3>
Order By:
<select ng-model="sortOrder" class="input-sm">
	<option selected value="name">Name</option>
	<option value="-upVoteCount">Votes</option>
</select>
Show:
<select ng-model="query.level" class="input-sm">
	<option selected value="">All</option>
	<option selected value="introductory">Introductory</option>
	<option selected value="intermediate">Intermediate</option>
	<option selected value="advanced">advanced</option>
</select>

<input ng-model="query" value=""/>

<ul class="list-unstyled">
	<li  ng-repeat="session in event.sessions | orderBy : sortOrder | filter : query">
		<div class="row">
			<div class="col-xs-1 col-md-1 well votingWidget">
				<div class="votingButton" ng-click="upVoteSession(session)">
					<i class="glyphicon glyphicon-chevron-up"></i>
				</div>
				<div class="badge">
					<div>{{session.upVoteCount}}</div>
				</div>
				<div class="row votingButton" ng-click="downVoteSession(session)">
					<i class="col-xs-12 glyphicon glyphicon-chevron-down"></i>
				</div>
			</div>
			<div class="well col-xs-11">
				<h4 class="well-title">{{session.name}}</h4>
				<h6 style="margin-top:-10px"><strong>{{session.creatorName}}</strong></h6>
				<span><strong>Duration: </strong>{{session.duration}}</span>
				<span><strong>Level: </strong> {{ session.level}}</span>
				<p>{{session.abstract}}</p>
			</div>
		</div>							
	</li>
</ul>	
<hr />			